<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpProtocol>
      <customHeaders>
        <clear />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="X-UA-Compatible"
          value="IE=edge" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <remove fileExtension=".js" />
      <remove fileExtension=".json" />
      <remove fileExtension=".br" />
      <mimeMap fileExtension=".js"
        mimeType="text/javascript" />
      <mimeMap fileExtension=".json"
        mimeType="application/json" />
      <mimeMap fileExtension=".br"
        mimeType="application/brotli" />
      <!-- Enable client caching for 1 year by default -->
      <clientCache cacheControlCustom="public"
        cacheControlMode="UseMaxAge"
        cacheControlMaxAge="365.00:00:00" />
    </staticContent>
    <urlCompression doStaticCompression="false"
      doDynamicCompression="false" />
    <rewrite>
      <outboundRules rewriteBeforeCache="true">
        <rule name="Building Rewrite content-encoding header brotli"
          preCondition="BuildingIsBR"
          enabled="true"
          stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_ENCODING"
            pattern=".*" />
          <action type="Rewrite"
            value="br" />
        </rule>
        <rule name="Building css content type"
          preCondition="BuildingIsCSS"
          enabled="true"
          stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_TYPE"
            pattern="(.*)" />
          <action type="Rewrite"
            value="text/css" />
        </rule>
        <rule name="Building js content type"
          preCondition="BuildingIsJS"
          enabled="true"
          stopProcessing="false">
          <match serverVariable="RESPONSE_CONTENT_TYPE"
            pattern="(.*)" />
          <action type="Rewrite"
            value="text/javascript" />
        </rule>
        <preConditions>
          <preCondition name="BuildingIsBR">
            <add input="{URL}"
              pattern="\.br$" />
          </preCondition>
          <preCondition name="BuildingIsCSS">
            <add input="{URL}"
              pattern="\.css\.(gz|br)$" />
          </preCondition>
          <preCondition name="BuildingIsJS">
            <add input="{URL}"
              pattern="\.js\.(gz|br)$" />
          </preCondition>
        </preConditions>
      </outboundRules>
      <rules>
        <rule name="Building Rewrite brotli file"
          stopProcessing="true">
          <match url="(.*).(js|css)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{HTTP_ACCEPT_ENCODING}"
              pattern="br" />
            <add input="{REQUEST_FILENAME}.br"
              matchType="IsFile" />
          </conditions>
          <action type="Rewrite"
            url="{R:1}.{R:2}.br" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>

  <location path="index.html">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlCustom=""
          cacheControlMode="DisableCache" />
      </staticContent>
    </system.webServer>
  </location>

</configuration>