body {
  background: transparent;
  color: inherit;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  overflow: hidden;
  position: absolute;
  inset: 0;
}

.body {
  margin: 0;
  overflow: hidden;
  position: absolute;
  inset: 0;
  perspective: 140vw;
  perspective-origin: 50% 50%;
  transition: 1s;
}

.group.selected .side {
  background-color: #213572;
}

#shape-settings.hidden {
  display: none;
}

.building {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate3d(0, 1, 0, 45deg);
  transition: top 1s, transform 1s;
  transform-style: preserve-3d;
}

.side {
  position: absolute;
  left: 0;
  bottom: 0;
  transform-style: preserve-3d;
  backface-visibility: visible;
  display: flex;
  align-items: center;
  justify-content: center;

  &:not(.window):not(.glass)::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  &.bottom,
  &.top {
    transform-origin: bottom center;
  }

  &.right,
  &.left {
    transform-origin: center left;

    &:not(.window):not(.glass)::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.2);
    }
  }

  &.front {
    &:not(.window):not(.glass)::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

.shadow {
  background-color: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 128px 64px rgba(0, 0, 0, 0.2);
}

.window {
  background-color: rgba(0, 0, 0, 0.3);

  &.window-front.front {
    box-shadow: inset 0 0 0 1px #333333;
  }

  &.window-left.left {
    box-shadow: inset 0 0 0 1px #333333;
  }

  &.window-back.back {
    box-shadow: inset 0 0 0 1px #333333;
  }
}

.glass {
  background-color: rgba(255, 255, 255, 0.1);
}

.floor {
  background-color: #aaaaaa;
}

.wall {
  background-color: #eeeeee;
}

.gray {
  background-color: #999999;

  &.dark {
    background-color: #444444;
  }
}

.black {
  background-color: #333333;
}

.level {
  left: 0;
  transition-duration: 1s;
}

[class*="3d"] {
  transform-style: preserve-3d;
  position: absolute;
  bottom: 0;
  backface-visibility: visible;
}

.floorplan .shadow {
  display: none;
}

sensor {
  white-space: nowrap;
  transition: transform 0.4s;
  background: rgba(255, 255, 255, 0.8);
  padding: 4px 8px;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  translate: 0px 0px 25px;
  font-size: 10px;
  font-weight: bold;
  color: #111111;
  display: flex;
  align-items: center;
  gap: 4px;

  .state {
    min-width: 8px;
    min-height: 8px;
    border-radius: 100%;
    position: relative;
  }
}

.front sensor {
  rotate: 1 0 0 90deg;
  translate: 0px -30px;
}

.body.from-top sensor {
  background: rgba(255, 255, 255, 1);
  translate: 0px 0px 1px;
  rotate: 1 0 0 90deg;
}

.body.from-top .front sensor {
  rotate: 1 0 0 180deg;
  translate: 0px -20px 10px;
}

.gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(45deg, rgba(0, 0, 0, 0.2), transparent);
}

body.x-ray {
  .side {
    background-color: transparent !important;
    box-shadow: 0 0 0 0.2px #cccccc;

    &::after {
      background: none !important;
      background-color: transparent !important;
    }
  }
}

body.mono {
  .group .side {
    background-color: transparent !important;
  }
}
